<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">InvestUp</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="principal">
    <img id="icon-2" src="https://iili.io/FFMvU37.png">
    <h1>InvestUp</h1>
    <h4>Investimento</h4>
    <ion-input type="number" label="Valor Inicial" label-placement="floating" fill="solid"
      placeholder="Insira o valor inicial para o Investimento" [(ngModel)]="P"></ion-input>
    <ion-input type="number" label="Taxa de Juros" label-placement="floating" fill="solid" placeholder="Insira a taxa de juros anual (Em decimal)"
      [(ngModel)]="r"></ion-input>
    <ion-input type="number" label="Numero de periodos de capitalizacao por ano" label-placement="floating" fill="solid"
      placeholder="Insira o numero de periodos de capitalizacao por Ano" [(ngModel)]="n"></ion-input>
    <ion-input type="number" label="Tempo" label-placement="floating" fill="solid"
      placeholder="Insira o tempo (Em anos)" [(ngModel)]="t"></ion-input>
    <ion-button (click)="calc()">Iniciar Calculo</ion-button>
  </div>

  <ion-label>
    <h1 class="Resultado">Montante Final: R${{ M }}</h1>
  </ion-label>



</ion-content>
