#icon-2{
    height: 80px;
    width: 80px;
    margin: 20px auto;
    display: block;

}
.principal {
    text-align: center;
    padding: 20px;
  }

  .principal h1 {
    font-size: 2rem;
    color: #000;
  }

  .principal h4 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }

  ion-input {
    margin: 10px 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }


  ion-button {
    margin: 5px;
  }

  .Resultado {
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    margin: 20px 0;
  }
  .resets {
    align-items: center;
    text-align: center;
  }

